<div id="about" class="panel">
    <div class="panel-header">
        <h1>About Us</h1>
        <h2>Who we are and what we do</h2>
    </div>

    <div class="panel-content">
        <p>
            The University of Manitoba Computer Science Students' Association (CSSA) is welcome to all students and is founded on the needs of Computer Science students. 
            Our executive team is a group of elected individuals representing Computer Science students to make their voices heard in the wider University of Manitoba community.
            The CSSA's goal is to support students throughout their degree and provide a safe and inclusive space for students to study and socialize.
            One of the core beliefs of the CSSA is that building a thriving community is the best way to support students. 
            To that end, we host events throughout the year like our game jam, programming contest, movie/game nights, and other social events.
        </p>
    
        <p>
            We have moved our community online to our new discord server that we run along with <a href="https://umwics.vercel.app/">UM WICS</a> and <a href="https://umdevclub.github.io/">.devClub</a>. 
            The discord server has channels for every course, so you can discuss lectures, clarify assignments, or chat with your classmates.
            We host many of our events on the discord server, and in general, it's a great way to keep track of all the events going on with the CSSA, WICS, and .devClub.
            We encourage you to sign up for our discord server <a href="https://forms.gle/C11YVJDVW2DhcbjXA">here</a>.
        </p>
    
        <p>
            Our lounge is located in EITC E1-586. We have several amenities like a coffee maker, monitors, keyboards, mouses, a microwave, and a fridge to keep your lunches cold. 
            We would love to see you there once the campus re-opens.
        </p>
    
        <p>
            You can read our constitution <a href="http://google.ca">here</a>. If you need to reach out to our team, please contact us via our <a href="mailto:manitobacssa@gmail.com">email</a>, discord server, or social media accounts.
        </p>
    </div>
</div>