<div id="about" class="panel">
    <div class="panel-header">
        <h1>About Us</h1>
        <h2>Learn more about the Computer Science Students' Association</h2>
    </div>

    <div class="panel-content">
        <h3>Who we are</h3>
        <p>
            The University of Manitoba Computer Science Students' Association (CSSA) exists to help support the needs of all computer science students. 
            Our executive team is elected to amplify the voices of computer science students within the wider University of Manitoba community, and to provide resources to make their university experience the best it can be.
        </p>
        <p>
            You can read our constitution <a href="/assets/CSSA_Constitution_2021.pdf" download>here</a>.
        </p>
    
        <h3>What we do</h3>
        <ul>
            <li>Represent the interests of computer science students in meetings with the Computer Science Department and the rest of the University.</li>
            <li>Host community-building events such as mixers, game nights, and movie nights.</li>
            <li>Co-host an online Discord server with <a href="https://umwics.vercel.app/" target="_blank">WICS</a> and <a href="https://devclub.ca/" target="_blank">.devClub</a> where you can chat about classes and meet other computer science students.</li>
            <li>(When classes are in person) Maintain a physical lounge with amenities like a coffee maker, monitors, keyboards, mice, a microwave, and a fridge to keep your lunches cold.</li>
        </ul>

        <h3>Where to find us</h3>
        <ul>
            <li>Sign up for the <a href="https://forms.gle/C11YVJDVW2DhcbjXA" target="_blank">U of M CS Discord server</a>.</li>
            <li>Find us on campus through our lounge which is located at EITC E1-586 (currently closed).</li>
        </ul>
    </div>
</div>