<div id="events" class="panel">
    <div class="panel-header">
        <h1>Events</h1>
        <h2>Discover what's going on in the community</h2>
    </div>

    <div class="panel-content">
        <p>
            The CSSA hosts events throughout the year like game jams, movie nights, game nights, mixers, and more. 
            Join our <a href="https://forms.gle/C11YVJDVW2DhcbjXA" target="_blank">discord</a> and follow us on <a href="https://www.instagram.com/umanitobacssa/" target="_blank">social media</a> to keep up to date on new and upcoming events!
        </p>
        <p>
            Here are the upcoming events on our calendar:
        </p>
        <div class="google-calendar-container">
            <iframe class="google-calendar" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23fff4eb&ctz=America%2FWinnipeg&src=bjJoNjYydTVjdjlxZjluaWU2ZWFtMTBuaW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23C0CA33&showTitle=0&showNav=1&showPrint=1&showTabs=1&showCalendars=0&showTz=1" frameborder="0" scrolling="no"></iframe>
            <iframe class="google-calendar-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23fff4eb&ctz=America%2FWinnipeg&src=bjJoNjYydTVjdjlxZjluaWU2ZWFtMTBuaW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23C0CA33&showTitle=0&showNav=1&showPrint=0&showTabs=0&showCalendars=0&showTz=1&mode=AGENDA&showDate=1" frameborder="0" scrolling="no"></iframe>
            
            <!-- TODO: Remove these old Calendars that are used for reference -->
            <!-- <iframe class="google-calendar" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23fff4eb&amp;ctz=America%2FWinnipeg&amp;src=bWFuaXRvYmFjc2NhbGVuZGFyQGdtYWlsLmNvbQ&amp;src=cTV1czZoMnQ5bjcxMnFyZG1kOWMzb2o5bThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bTR0YzBycHBpcmhvYTJzOWRubHNoYTBkbWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=a25yamo1Zzc4c2g1NXRxb3E1NTNhOGh2c2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%230B8043&amp;color=%23D50000&amp;color=%23663600&amp;color=%232e70ac&amp;showTitle=0&amp;showPrint=0&amp;showTabs=1&amp;showTz=0&amp;showDate=1" frameborder="0" scrolling="no"></iframe> -->
            <!-- <iframe class="google-calendar-agenda" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23fff4eb&amp;ctz=America%2FWinnipeg&amp;src=bWFuaXRvYmFjc2NhbGVuZGFyQGdtYWlsLmNvbQ&amp;src=cTV1czZoMnQ5bjcxMnFyZG1kOWMzb2o5bThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bTR0YzBycHBpcmhvYTJzOWRubHNoYTBkbWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=a25yamo1Zzc4c2g1NXRxb3E1NTNhOGh2c2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%230B8043&amp;color=%23D50000&amp;color=%23663600&amp;color=%232e70ac&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;showDate=1&amp;mode=AGENDA&amp;showCalendars=1" style="border-width:0" frameborder="0" scrolling="no"></iframe>     -->
        </div>
        <!-- TODO: Implement list of events (using tags on events to place badges that indicate the group hosting the event) -->
    </div>
</div>