@import "../../variables.scss";

$nav-bar-height: 65px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $nav-bar-height;
    background-color: $cssa-darkest-brown;
    color: $cssa-brown-white;
    letter-spacing: 1px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.logo {
    float:left;
    height: 40px;
    margin-right: 10px;
}

.home-button a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: $cssa-yellow;
    text-decoration: none;
    margin: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}

.nav-links a {
    font-size: 18px;
    color: $cssa-brown-white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.nav-links a:hover {
    background-color: $cssa-dark-brown;
    border-radius: 3px;
}

.nav-links a:active {
    background-color: $cssa-brown;
    border-radius: 3px;
}

.nav-menu-button {
    display:none;
}

.nav-menu {
    display:none;
}

@media only screen and (max-width: 1200px) {
    .nav-links  {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .nav-links {
        display:none;
    }
    .nav-menu-button {
        display:block;
        outline:none;
        border:none;
        background: transparent;
        color: $cssa-brown-white;
        cursor: pointer;
    }

    .home-button a {
        font-size: 18px;
    }

    .nav-menu {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: $nav-bar-height;
        display: block;
        background-color: $cssa-darkest-brown;
        z-index: 8;
    }
    
    .nav-menu-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .nav-menu-links a {
        font-size: xx-large;
        color: $cssa-brown-white;
        text-decoration: none;
        transition: 0.3s;
        font-weight: 600;
    }
    
    .nav-menu-links a:hover {
        background-color: $cssa-dark-brown;
        border-radius: 3px;
    }
    
    .nav-menu-links a:active {
        background-color: $cssa-brown;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 375px) {
    .home-button a {
        font-size: 14px;
    }
}