<div id="resources" class="panel">
    <div class="panel-header">
        <h1>Resources</h1>
        <h2>Find information to assist you</h2>
    </div>

    <div class="panel-content">
        <p>
            Here are some useful resources.
            <!-- TODO: Fill this out -->
        </p>
        <ul class="tab-list">
            <li 
                *ngFor="let category of categories"
                class="tab"
                [class.selected-tab]="currentCategory.id === category.id"
                (click)="selectTab(category)"
            >{{category.name}}</li>
        </ul>
        <div class="horizontal-bar"></div>
        <select
            class="selector"
            [(ngModel)]="currentCategory"
        >
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
    </div>
</div>