<div>
    <h2 *ngIf="exec.nickName!==undefined; else elseBlock">
        {{exec.name}} ({{exec.nickName}})
    </h2>
    <ng-template #elseBlock>
        <h2>
            {{exec.name}}
        </h2>
    </ng-template>
    <h3>{{exec.role}}</h3>
    <div class="exec-photo">
        <img
            src="{{'/assets/images/execs/' + exec.photo}}"
            alt="{{'Image of ' + exec.name}}"
            loading="lazy"
        >
    </div>
    <ul class="exec-connections">
        <li *ngIf="exec.email!==undefined">
            <a
                href="{{'mailto:' + exec.email}}"
                title="Send email to {{exec.nickName ?? exec.name}}"
            >
                <fa-icon [icon]="['fas', 'envelope']" size="2x"></fa-icon>
            </a>
        </li>
        <li *ngIf="exec.website!==undefined">
            <a
                href="{{exec.website}}"
                target="_blank"
                title="Open {{exec.nickName ?? exec.name}}'s personal website"
            >
                <fa-icon [icon]="['fas', 'globe']" size="2x"></fa-icon>
            </a>
        </li>
        <li *ngIf="exec.linkedin!==undefined">
            <a
                href="{{'https://www.linkedin.com/in/' + exec.linkedin}}"
                target="_blank"
                title="Open {{exec.nickName ?? exec.name}}'s LinkedIn"
            >
                <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
            </a>
        </li>
        <li *ngIf="exec.github!==undefined">
            <a
                href="{{'https://github.com/' + exec.github}}"
                target="_blank"
                title="Open {{exec.nickName ?? exec.name}}'s GitHub"
            >
                <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
            </a>
        </li>
    </ul>
    <div class="exec-description">
        <p>{{exec.description}}</p>
    </div>
</div>