@import "../../variables.scss";

.exec-connections {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 12px 0 0 0;
    padding: 0;
    
    a {
        padding: 0 10px 0 10px;
        color: $um-blue;
        transition: 0.3s;
    }

    a:hover {
        color: $um-dark-blue;
    }

    a:active {
        color: $um-darkest-blue;
    }
}

.exec-photo {
    text-align: center;

    img {
        width: 200px; 
        height: 200px; 
        border-radius: 50%;
    }
}

h2 {
    margin-bottom: 0.5em;
    text-align: center;
}

h3 {
    color: $cssa-brown;
    margin-top: 0;
    text-align: center;
}

.exec-description {
    margin-top: 10px;
    
    p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
