@import "../../variables.scss";

.panel-content {
    margin-bottom: 18px;
}

.resources-panel {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.resource { 
    min-width: 300px;
    flex-basis: 50%;
}

@media only screen and (max-width: 800px) {
    .resource {
        flex-basis: 100%;
    }
}

.tab-list {
    width:100%;
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
    flex-wrap: wrap;
}

.tab {
    overflow:hidden;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    background-color: $cssa-yellow;
}

.selected-tab {
    background-color: $cssa-dark-brown;
    color: $cssa-brown-white;
}

.selected-tab:hover {
    background-color: $cssa-dark-brown;
    color: $cssa-brown-white;
}

.horizontal-bar {
    width: 100%;
    height: 5px;
    background-color: $cssa-dark-brown;
}

.selector {
    display: none;
    width: 100%;
    padding: 5px;
    background-color: white;
    color: $cssa-darkest-brown;
    border-radius: 3px;
    border: 1px solid $cssa-darkest-brown;
}

.selector-prompt {
    display: none;
}

@media only screen and (max-width: 800px) {
    .selector, .selector-prompt {
        display: block;
    }
    .tab-list, .horizontal-bar {
        display: none;
    }
}