@import "../../variables.scss";

.resource-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
}

.resource-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    img {
        width: 100px; 
        height: 100px; 
        border-radius: 50%;
    }
}

.resource-details {
    padding: 5px;
    p {
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        color: $cssa-brown;
        margin: 0;
    }
}

.icon-link {
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    .resource-photo {
        img {
            width: 75px; 
            height: 75px; 
            border-radius: 50%;
        }
    }
}