<div id="contact" class="panel">
    <div class="panel-header">
        <h1>Contact Us</h1>
        <h2>Reach out to the CSSA via email, social media, or the U of M CS Discord</h2>

        <div class="contact-footer">
            <div class="contact-icons">
                <div>
                    <a
                        href="mailto:manitobacssa@gmail.com"
                        title="Send email to U of M Computer Science Students' Association"
                    >
                        <fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
                    </a>
                </div>
                <div>
                    <a
                        href="https://forms.gle/C11YVJDVW2DhcbjXA"
                        target="_blank"
                        title="Sign up and join the U of M CS Discord"
                    >
                        <fa-icon [icon]="['fab', 'discord']" size="3x"></fa-icon>
                    </a>
                </div>
                <div>
                    <a
                        href="https://www.instagram.com/umanitobacssa/"
                        target="_blank"
                        title="Like our page on Facebook"
                    >
                        <fa-icon [icon]="['fab', 'instagram']" size="3x"></fa-icon>
                    </a>
                </div>
                <div>
                    <a
                        href="https://www.facebook.com/uofmcssa/"
                        target="_blank"
                        title="Follow us on Instagram"
                    >
                        <fa-icon [icon]="['fab', 'facebook-square']" size="3x"></fa-icon>
                    </a>
                </div>
            </div>
            <p>© 2021 University of Manitoba Computer Science Students' Association</p>
        </div>
    </div>
</div>