@import "../../../variables.scss";

.contact-footer {
    width: 100%;
    color: $cssa-brown-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
        color: $cssa-brown-white;
        margin: 20px 40px 20px 40px;
        transition: 0.3s;
    }
    a:hover {
        color: $cssa-yellow;
    }
    a:active {
        color: $cssa-orange;
    }
}

//  TODO: MOVE THIS TO ABOUT US

// .google-form {
//     width: 100%;
//     height: 1550px;
// }


// // Cannot match height for security reasons on iframes, so must make custom heights for widths to avoid scroll bars

// @media only screen and (max-width: 800px) {
//     .google-form {
//         height: 1650px;
//     }
// }

// @media only screen and (max-width: 700px) {
//     .google-form {
//         height: 1750px;
//     }
// }

// @media only screen and (max-width: 600px) {
//     .google-form {
//         height: 1850px;
//     }
// }

// @media only screen and (max-width: 500px) {
//     .google-form {
//         height: 1950px;
//     }
// }

// @media only screen and (max-width: 400px) {
//     .google-form {
//         height: 2050px;
//     }
// }