.google-form {
    width: 100%;
    height: 1550px;
}

// Cannot match height for security reasons on iframes, so must make custom heights for widths to avoid scroll bars

@media only screen and (max-width: 800px) {
    .google-form {
        height: 1650px;
    }
}

@media only screen and (max-width: 700px) {
    .google-form {
        height: 1750px;
    }
}

@media only screen and (max-width: 600px) {
    .google-form {
        height: 1850px;
    }
}

@media only screen and (max-width: 500px) {
    .google-form {
        height: 1950px;
    }
}

@media only screen and (max-width: 400px) {
    .google-form {
        height: 2050px;
    }
}