<div id="contact" class="panel">
    <div class="panel-header">
        <h1>Contact Us</h1>
        <h2>How to reach out to the CSSA</h2>
    </div>

    <div class="panel-content">
        <p>
            If you need to reach out to our team, feel free to contact us via our <a href="mailto:manitobacssa@gmail.com">email</a>, discord server, or social media accounts.
        </p>
        <!-- TODO: Have a form for people to reach out to us, or at the very least have links to our social media, discord server, etc. -->
    
        <iframe class ="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSd0woxSqBc-i30EJRI4YE0BLHEvHaT-1JVITZc1tJJ8_lt7-g/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>