<navigation-bar class="nav-bar-comp"></navigation-bar>

<welcome-panel></welcome-panel>

<div class="main-content">
  <about></about>
  <img-bar
    image="about.jpg"
    alt="Members of the CSSA"
    centerImage="center"
  ></img-bar>
  <execs></execs>
  <events></events>
  <img-bar
    image="events.jpg"
    alt="Board game night in the lounge"
    centerImage="center"
  ></img-bar>
  <resources></resources>
  <img-bar
    image="resources.jpg"
    alt="Students learning at a cram session"
    centerImage="top"
  ></img-bar>
  <contact></contact>
</div>