<!-- TODO: Navigation Bar (to move betweeen the sections) -->
<navigation-bar class="nav-bar-comp"></navigation-bar>

<welcome-panel></welcome-panel>

<div class="main-content">
  <about id="about"></about>
  <img-bar
    image="about.jpg"
    alt="Members of the CSSA"
    centerImage="center"
  ></img-bar>
  <execs id="execs"></execs>
  <events id="events"></events>
  <img-bar
    image="events.jpg"
    alt="Board game night in the lounge"
    centerImage="center"
  ></img-bar>
  <resources id="resources"></resources>
  <img-bar
    image="resources.jpg"
    alt="Students learning at a cram session"
    centerImage="top"
  ></img-bar>
  <contact id="contact"></contact>
</div>

<!-- TODO: Footer -->