/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import "./variables.scss";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', Georgia, serif;
}

body, html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow: auto;
    }

body, input {
    color: $cssa-darkest-brown;
    background-color: $cssa-brown-white;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

* { 
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
a {
    color: $um-blue;
}

a:visited {
    color: $um-light-blue;
}