/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&family=Jomolhari&display=swap');
@import "./variables.scss";

.serif-font {
    font-family: 'Jomolhari', Georgia, serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}

body, html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    // overflow: auto;
    scroll-behavior: smooth;
}

body {
    color: $cssa-darkest-brown;
    background-color: $cssa-brown-white;
    font-family: 'Atkinson Hyperlegible', Verdana, Helvetica, Arial, sans-serif;
    font-size: large;
}

* { 
    font-family: 'Atkinson Hyperlegible', Verdana, Helvetica, Arial, sans-serif;
}

a {
    color: $um-blue;
}

a:visited {
    color: $um-light-blue;
}

.reference {
    top:-65px;
}

.main-content {
    width: 100%;
}

.panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-header {
    width: 100%;
    background-color: $cssa-darkest-brown;
    /* top | right | bottom | left */
    padding: 3vh 0 3vh 0;
    h1 {
        color: $cssa-brown-white;
        padding-left: 10%;
        padding-right: 10%;
    }
    h2 {
        color: $cssa-yellow;
        padding-left: 10%;
        padding-right: 10%;
    } 
}

.panel-content {
    width: 80%;
    background-color: $cssa-brown-white;
}

@media only screen and (max-width: 375px) {
    .panel-header {
        h1 {
            padding-left: 5%;
            padding-right: 5%;
        }
        h2 {
            padding-left: 5%;
            padding-right: 5%;
        } 
    }
    .panel-content {
        width: 90%;
    }
}