/* You can add global styles to this file, and also import other style files */
// Main color palette
$cssa-darkest-brown: rgb(42,20,0);
$cssa-brown: rgb(102,54,0);
$cssa-yellow: rgb(255,185,0);
$cssa-brown-white: rgb(255,244,235);
$um-blue: rgb(52,93,157);

// Other colors from CSSA & U of M
$cssa-dark-brown: rgb(66,32,0);
$cssa-light-brown: rgb(154,90,3);
$cssa-orange: rgb(255,151,0);
$cssa-yellow-white: rgb(255,248,235);
$um-blue-white: rgb(240,244,250);
$um-light-blue: rgb(0,160,223);
$um-brown: rgb(80,44,30);
$um-yellow: rgb(245,168,0);
$wics-blue: rgb(94,157,215);

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

body, input {
    color: $cssa-darkest-brown;
    background-color: $cssa-brown-white;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

* {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

a {
    color: $um-blue;
}

a:visited {
    color: $um-light-blue;
}