<div class="welcome-panel">
    <div class="welcome-text-overlay">
        <div class="welcome-text">
            <h2 class="serif-font">University of Manitoba</h2>
            <h1 class="serif-font">Computer Science Students' Association</h1>
        </div>
        <a class="welcome-down-icon" href="#about" title="Learn more about us">
            <fa-icon [icon]="['fas', 'arrow-alt-circle-down']" size="4x"></fa-icon>
        </a>
    </div>
</div>

<!-- TODO: Add animated slides? -->
<!-- TODO: Or add parallax effect on text/image? -->